<html>
    <head>
        <title><%= locals.title %></title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/8abc686f76.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <div id="Main">
        <div class="Main-width">
            <h1 class="center">TODO App</h1>
        <div>
        <form action="Enter-data" method="POST">
            <div id="test" class="border-top border-bottom border-secondary">
            <p>DISCRIPTION<p>
            <input type="text" name="dis" placeholder="What do you need to do?" class="remove-border" id="form-1" required>
            </div>
            <div class="set-width">
                <div class="inline-block width-50">
                <p>Category<p>
                <label>
                    <select name="cat" class="remove-border width-250">
                        <option value="Personal">Pesonal</option>
                        <option value="School">School</option>
                        <option value="Work">Work</option>
                        <option value="Cleaning">Cleaning</option>
                        <option value="Other">Others</option>
                    </select>
                </label>
                </div>
                <div class="inline-block">
                <p>DATE</p>
                    <input type="date" name="date" class="remove-border width-137">
            </div>
            </div>
                <button type="submit" class="btn btn-secondary">Add</button>
        </form>
    </div>
    <div>
            <form action="/Delete-data" method="GET">
                <div><button type="submit" class="btn btn-danger">Delete</button></div>
                <div class="flex" id ="main-last">
                <% for(let i of MyList){ %>
                    <div class="flex-col border-top">
                        <div class="inline-block">
                            <div class="form-check inline-block">
                                <input class="form-check-input" name="id" type="checkbox" value="<%= i._id %>" id="flexCheckDefault">
                                <p class="inline-block"><%= i.dis %></p>
                            </div>
                            <p><i class="far fa-calendar-alt"></i><%= i.date %></p>
                        </div>
                        <div class="inline-block" id="Category">
                            <p><button class="btn btn-primary fix-width top-gap" type="button"><%= i.cat %></button></p>
                        </div>
                    </div>
            <% } %>
                </div>
            </form>
        </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
        </div>
    </body>
</html>